// Fira Sans

@font-face{
    font-family: 'FiraSans';
    src: url("../fonts/FiraSans-Light.eot");
    src: local("Fira Sans Light"),
         url("../fonts/FiraSans-Light.eot") format("embedded-opentype"),
         url("../fonts/FiraSans-Light.woff") format("woff"),
         url("../fonts/FiraSans-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face{
    font-family: 'FiraSans';
    src: url("../fonts/FiraSans-LightItalic.eot");
    src: local("Fira Sans Light Italic"),
         url("../fonts/FiraSans-LightItalic.eot") format("embedded-opentype"),
         url("../fonts/FiraSans-LightItalic.woff") format("woff"),
         url("../fonts/FiraSans-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
}

@font-face{
    font-family: 'FiraSans';
    src: url("../fonts/FiraSans-Regular.eot");
    src: local("Fira Sans Regular"),
         url("../fonts/FiraSans-Regular.eot") format("embedded-opentype"),
         url("../fonts/FiraSans-Regular.woff") format("woff"),
         url("../fonts/FiraSans-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'FiraSans';
    src: url("../fonts/FiraSans-Medium.eot");
    src: local("Fira Sans Medium"),
         url("../fonts/FiraSans-Medium.eot") format("embedded-opentype"),
         url("../fonts/FiraSans-Medium.woff") format("woff"),
         url("../fonts/FiraSans-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face{
    font-family: 'FiraSans';
    src: url("../fonts/FiraSans-MediumItalic.eot");
    src: local("Fira Sans Medium Italic"),
         url("../fonts/FiraSans-MediumItalic.eot") format("embedded-opentype"),
         url("../fonts/FiraSans-MediumItalic.woff") format("woff"),
         url("../fonts/FiraSans-MediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
}

@font-face{
    font-family: 'FiraSans';
    src: url("../fonts/FiraSans-Bold.eot");
    src: local("Fira Sans Bold"),
         url("../fonts/FiraSans-Bold.eot") format("embedded-opentype"),
         url("../fonts/FiraSans-Bold.woff") format("woff"),
         url("../fonts/FiraSans-Bold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face{
    font-family: 'FiraSans';
    src: url("../fonts/FiraSans-BoldItalic.eot");
    src: local("Fira Sans Bold Italic"),
         url("../fonts/FiraSans-BoldItalic.eot") format("embedded-opentype"),
         url("../fonts/FiraSans-BoldItalic.woff") format("woff"),
         url("../fonts/FiraSans-BoldItalic.ttf") format("truetype");
    font-weight: 600;
    font-style: italic;
}

// Futura

@font-face {
  font-family: 'Futura';
  src: url('../fonts/FuturaDemiC.eot');
  src: local('FuturaDemiC'), 
       url('../fonts/FuturaDemiC.woff') format('woff'),
       url('../fonts/FuturaDemiC.ttf') format('truetype'),
       url('../fonts/FuturaDemiC.svg') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Futura';
  src: url('../fonts/FuturaMediumC.eot');
  src: local('FuturaMediumC'), 
       url('../fonts/FuturaMediumC.woff') format('woff'),
       url('../fonts/FuturaMediumC.ttf') format('truetype'),
       url('../fonts/FuturaMediumC.svg') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Futura';
  src: url('../fonts/FuturaLightC.eot');
  src: local('FuturaLightC'), 
       url('../fonts/FuturaLightC.woff') format('woff'),
       url('../fonts/FuturaLightC.ttf') format('truetype'),
       url('../fonts/FuturaLightC.svg') format('svg');
  font-weight: 300;
  font-style: normal;
}

// Futura Futuris

@font-face {
  font-family: 'FuturaFuturis';
  src: url('../fonts/FuturaFuturisLightC.eot');
  src: url('../fonts/FuturaFuturisLightC.eot?#iefix') format('embedded-opentype'),
       url('../fonts/FuturaFuturisLightC.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

// Ubuntu

@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/UbuntuLight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
